.grid_title {
    font-size: 36px;
    padding-top: 1rem;
}

.sign_out {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
    transition: font-size 0.3s;
}

.sign_out:hover {
    color: rgb(255, 79, 79);
}

.new_note_container {
    padding-top: 10px;
    padding-bottom: 1rem;
}

.new_note_container button:hover {
    padding: 1rem;
}

.new_note_container button {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border: none;
    justify-content: center;
    padding: 10px;
}

.new_note_container i {
    font-size: 25px;
}

.grid_container {
    position: fixed;
    top: 0%;
    width: 100%;
    overflow-y: hidden;
}

.notes {
    display: grid;
    margin: auto 1.5rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    gap: 1rem;
    max-height: calc(100vh - 100px);
    /* Adjust height as needed */
    overflow-y: scroll;
    /* Add scrollbar if content overflows */

}

@media only screen and (min-width: 768px) {
    .notes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 960px) {
    .notes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .notes {
        grid-template-columns: repeat(4, 1fr);
    }
}

.notes_column {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    padding: 0.7rem 1rem 0.7rem 1rem;
    min-width: 320px;
    max-height: 60px;
}

.note {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.note::before {
    content: attr(data-tooltip);
    position: fixed;
    /* Use absolute positioning */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -10%);
    /* Center the tooltip horizontally above .note */
    /* Center horizontally */
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    z-index: 1;
    font-weight: 650;
}

.note:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translate(-46%, -100%);
}

.note p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.notes_column i:hover {
    color: rgb(255, 79, 79);
}

.notes_column i {
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.new_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    margin: auto 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    padding: 0.7rem 1rem 0.7rem 1rem;
}

.new_title_container input {
    flex: 1;
}

.new_title_container i {
    font-size: 25px;
    cursor: pointer;
}