

.navbar-container {
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {

    .navbar input {
        display: none;
    }

    .search-btn {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .toggle-collab-btn {
        display: none;
    }

    .token-btn {
        display: none;
    }

    .sign-out-btn {
        display: none;
    }

    .compact-navbar-btn {
        display: unset !important;
    }

    .dropdown-menu {
        display: unset !important;
    }
}

.navbar-logo-container {
    text-align: center;
}

.navbar-logo-container h1 {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
    opacity: 0.8;
}

.navbar-logo p {
    font-size: 14px;
    padding-left: 0px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.5;
}

.navbar input {
    width: 100%;
    min-width: 105px;
    height: 45px;
    border-radius: 0.25rem;
    padding: 4px;
    padding-left: 1rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.button-clicked {
    background-color: #081F2D;
    color: wheat;
}

.navbar svg {
    font-size: 25px;
}

.compact-navbar-btn {
    display: none;
    margin: 0.2rem;
    /* Better user experience, hovering covers a bigger area*/
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.dropdown-menu {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5rem;
    top: 0.6rem;
    padding: 0.5rem;
    margin: 1.5rem;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

/* Style the dropdown menu options */
.dropdown-content li {

}

/* Change the background color of dropdown items when hovered */
.dropdown-content li:hover {
    background-color: #fff;
}

.dropdown-menu:hover .dropdown-content {
    display: unset !important;
}