.main_container {
    width: 100%;
    /* Center horizontally with a margin of 5px on all sides */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.group-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
}

.group-container i {
    font-size: 30px;
    background: #fff;
    width: fit-content;
    border-radius: 2px;
    border: 1px solid #081F2D;
    padding: 6px;
}

.group-container i:hover {
    color: #7b1e43;
}

.group-container i:active {
    position: relative;
    top: 3px;
}

.input_token {
    font-size: 21px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #081F2D;
    color: black;
    font-size: 15px;
    padding: 10px 25px;
    flex: auto;
}

.invite_btn {
    font-size: 22px;
}

.nav_container {
    /* border: 1px solid black; */
    border-bottom: none;
    width: 100%;
    /* Center horizontally with a margin of 5px on all sides */
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    /* Place items at the start and end */
    align-items: center;
    /* Center items vertically */
}

.input_title {
    flex: 1;
    /* Grow to fill available space */
    /* Add spacing between input field and button */
    background-color: white;
    border-radius: 2px;
    border: 1px solid #081F2D;
    color: black;
    font-size: 15px;
    padding: 10px 25px;
    transition: 0.3s;
}

.back_button {
    padding: 0px 23px 0px 24px;
    font-size: 25px;
    margin-left: -1.5px;
}